# Ignore the virtual environment folder
venv/

# Ignore the model folder
models/

# Ignore the dataset folder
coco/
pycocoDemo.ipynb

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
.DS_Store
temp/